	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/10/2020 09:09
  	*/
	
	@font-face {
	    font-family: "Flaticon";
	    src: url("../fonts/Flaticon.eot");
	    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff2") format("woff2"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	    }
	}
	
	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-style: normal;
	}
	
	.flaticon-google-analytics:before {
	    content: "\f100";
	}
	
	.flaticon-python:before {
	    content: "\f101";
	}
	
	.flaticon-algorithm:before {
	    content: "\f102";
	}
	
	.flaticon-network:before {
	    content: "\f103";
	}
	
	.flaticon-quote:before {
	    content: "\f104";
	}
	
	.flaticon-share:before {
	    content: "\f105";
	}
	
	.flaticon-analytics:before {
	    content: "\f106";
	}
	
	.flaticon-brain:before {
	    content: "\f107";
	}
	
	.flaticon-accept:before {
	    content: "\f108";
	}
	
	.flaticon-abstract:before {
	    content: "\f109";
	}
	
	.flaticon-abstract-2:before {
	    content: "\f10a";
	}
	
	.flaticon-stars:before {
	    content: "\f10b";
	}
	
	.flaticon-download:before {
	    content: "\f10c";
	}
	
	.flaticon-search:before {
	    content: "\f10d";
	}
	
	.flaticon-analysis:before {
	    content: "\f10e";
	}
	
	.flaticon-music:before {
	    content: "\f10f";
	}
	
	.flaticon-data:before {
	    content: "\f110";
	}
	
	.flaticon-vr:before {
	    content: "\f111";
	}
	
	.flaticon-play-button:before {
	    content: "\f112";
	}
	
	.flaticon-checkmark:before {
	    content: "\f113";
	}
	
	.flaticon-big-data:before {
	    content: "\f114";
	}
	
	.flaticon-ui:before {
	    content: "\f115";
	}
	
	.flaticon-joystick:before {
	    content: "\f116";
	}
	
	.flaticon-product:before {
	    content: "\f117";
	}
	
	.flaticon-travel:before {
	    content: "\f118";
	}
	
	.flaticon-bank:before {
	    content: "\f119";
	}
	
	.flaticon-medicine:before {
	    content: "\f11a";
	}
	
	.flaticon-billboard:before {
	    content: "\f11b";
	}
	
	.flaticon-chat:before {
	    content: "\f11c";
	}
	
	.flaticon-cloud-computing:before {
	    content: "\f11d";
	}
	
	.flaticon-analysis-1:before {
	    content: "\f11e";
	}
	
	.flaticon-null:before {
	    content: "\f11f";
	}
	
	.flaticon-arrow:before {
	    content: "\f120";
	}
	
	.flaticon-brain-1:before {
	    content: "\f121";
	}
	
	.flaticon-freelance:before {
	    content: "\f122";
	}
	
	.flaticon-gmail:before {
	    content: "\f123";
	}
	
	.flaticon-virustotal-icon:before {
	    content: "\f124";
	}
	
	.flaticon-next:before {
	    content: "\f125";
	}
	
	.flaticon-brain-2:before {
	    content: "\f126";
	}
	
	.flaticon-brain-3:before {
	    content: "\f127";
	}
	
	.flaticon-model:before {
	    content: "\f128";
	}
	
	.flaticon-cog:before {
	    content: "\f129";
	}
	
	.flaticon-global:before {
	    content: "\f12a";
	}
	
	.flaticon-zoom:before {
	    content: "\f12b";
	}
	
	.flaticon-pin:before {
	    content: "\f12c";
	}
	
	.flaticon-hyperlink:before {
	    content: "\f12d";
	}
	
	.flaticon-vision:before {
	    content: "\f12e";
	}
	
	.flaticon-conversation:before {
	    content: "\f12f";
	}
	
	.flaticon-photograph:before {
	    content: "\f130";
	}
	
	.flaticon-medal:before {
	    content: "\f131";
	}
	
	.flaticon-share-1:before {
	    content: "\f132";
	}
	
	.flaticon-next-1:before {
	    content: "\f133";
	}
	
	.flaticon-world:before {
	    content: "\f134";
	}
	
	.flaticon-award:before {
	    content: "\f135";
	}
	
	.flaticon-pin-1:before {
	    content: "\f136";
	}
	
	.flaticon-checkmark-1:before {
	    content: "\f137";
	}
	
	.flaticon-left:before {
	    content: "\f138";
	}
	
	.flaticon-cloud-storage:before {
	    content: "\f139";
	}
	
	.flaticon-customer-service:before {
	    content: "\f13a";
	}
	
	.flaticon-shopping-bag:before {
	    content: "\f13b";
	}
	
	.flaticon-autism:before {
	    content: "\f13c";
	}
	
	.flaticon-speech:before {
	    content: "\f13d";
	}
	
	.flaticon-type:before {
	    content: "\f13e";
	}
	
	.flaticon-browser:before {
	    content: "\f13f";
	}
	
	.flaticon-browser-1:before {
	    content: "\f140";
	}
	
	.flaticon-browser-2:before {
	    content: "\f141";
	}
	
	.flaticon-business-chart:before {
	    content: "\f142";
	}
	
	.flaticon-stats:before {
	    content: "\f143";
	}
	
	.flaticon-innovation:before {
	    content: "\f144";
	}
	
	.flaticon-play:before {
	    content: "\f145";
	}
	
	.flaticon-google-play:before {
	    content: "\f146";
	}
	
	.flaticon-apple-logo:before {
	    content: "\f147";
	}
	
	.flaticon-face-detection:before {
	    content: "\f148";
	}
	
	.flaticon-face-scan:before {
	    content: "\f149";
	}
	
	.flaticon-facial-recognition:before {
	    content: "\f14a";
	}
	
	.flaticon-target:before {
	    content: "\f14b";
	}
	
	.flaticon-padlock:before {
	    content: "\f14c";
	}
	
	.flaticon-art-and-design:before {
	    content: "\f14d";
	}
	
	.flaticon-images:before {
	    content: "\f14e";
	}
	
	.flaticon-rate-star-button:before {
	    content: "\f14f";
	}
	
	.flaticon-rocket:before {
	    content: "\f150";
	}
	
	.flaticon-head:before {
	    content: "\f151";
	}
	
	.flaticon-bar-graph:before {
	    content: "\f152";
	}
	
	.flaticon-global-1:before {
	    content: "\f153";
	}
	
	.flaticon-man:before {
	    content: "\f154";
	}
	
	.flaticon-happy-face:before {
	    content: "\f155";
	}
	
	.flaticon-bad-review:before {
	    content: "\f156";
	}
	
	.flaticon-feeling:before {
	    content: "\f157";
	}
	
	.flaticon-chat-1:before {
	    content: "\f158";
	}
	
	.flaticon-review:before {
	    content: "\f159";
	}
	
	.flaticon-text-editor:before {
	    content: "\f15a";
	}
	
	.flaticon-algorithm-1:before {
	    content: "\f15b";
	}
	
	.flaticon-classified:before {
	    content: "\f15c";
	}
	
	.flaticon-data-analytics:before {
	    content: "\f15d";
	}
	
	.flaticon-stock-market:before {
	    content: "\f15e";
	}
	
	.flaticon-comment:before {
	    content: "\f15f";
	}
	
	.flaticon-correction:before {
	    content: "\f160";
	}
	
	.flaticon-arrowhead-pointing-to-the-right:before {
	    content: "\f161";
	}
	
	.flaticon-chat-bubbles-with-ellipsis:before {
	    content: "\f162";
	}
	
	.flaticon-down-arrow:before {
	    content: "\f163";
	}
	
	.flaticon-down-arrow-2:before {
	    content: "\f164";
	}
	
	.flaticon-down-arrow-1:before {
	    content: "\f165";
	}